<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="name" class="col-md-2 col-form-label">Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter name of recipe">
    </div>
  </div>
  <div class="form-group row">
    <label for="imgPath" class="col-md-2 col-form-label">Image Path</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="imgPath" formControlName="imgPath" placeholder="Enter path to image">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-md-2 col-form-label">Description</label>
    <div class="col-md-10">
      <textarea class="form-control" rows="4" id="description" formControlName="description" placeholder="Enter recipe description"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>
