<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <!-- <div class="col" *ngIf="errorMessage !== ''">
      <span class="text-danger align-middle">{{ errorMessage }}</span>
    </div> -->
    <app-alert *ngIf="errorMessage !== ''" [alertMessage]="errorMessage" (dismissEvent)="dismissAlert()"></app-alert>
    <div class="col">
      <input type="text" class="form-control" placeholder="Email" formControlName="email">
    </div>
    <div class="col">
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <button class="btn btn-primary" type="submit" *ngIf="!isLoading">Login</button>
    <div class="col" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</form>
