<div class="row">
  <div class="col-4">
    <div class="list-group">
        <app-recipe-list-item 
          *ngFor="let recipe of recipeList" 
          [recipeId]="recipe.getId()" 
          (click)="selectRecipeById(recipe.getId())">
        </app-recipe-list-item>
    </div>
  </div>
  <div *ngIf="selectedRecipeId !== '';else noRecipeSelected" class="col-8 border rounded-right">
    <router-outlet></router-outlet>
  </div> 
  <ng-template #noRecipeSelected>
    <h2>No recipe selected</h2>
  </ng-template>
</div> 
