<section id="recipe-detail">
  <div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive" />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Recipe</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="actions">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Description</h3>
      <p>{{recipe.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Ingredients</p>
      <ul class="list-group">
        <li class="list-item">Ingredient 1</li>
      </ul>
    </div>
  </div>
</section>