<section id="recipe-detail" *ngIf="recipe;else empty_recipe">  
  <div class="row mb-2 justify-content-between">
    <div class="col-md-auto">
      <h2>{{recipe.name}}</h2>
    </div>
    <div class="col-md-auto">
      <div class="btn-group" role="group" aria-label="Recipe Actions">
        <button type="button" class="btn btn-success" (click)="addToShopping()" [attr.disabled]="addedToShopping === true ? true : null">Add to Shopping</button>
        <div class="btn-group" [class.show]="showDropdown">
          <button 
            class="btn btn-secondary dropdown-toggle" 
            type="button" 
            id="actions" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            (click)="toggleDropdown()"
            [attr.aria-expanded]="openDropdown">
            Manage
          </button>
          <div class="dropdown-menu" aria-labelledby="actions" [class.show]="showDropdown" (mouseleave)="toggleDropdown()">
            <button class="dropdown-item" type="button">Edit</button>
            <button class="dropdown-item text-danger" type="button" (click)="deleteRecipe()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-7">
      <img src="{{recipe.getImagePath()}}" alt="Image of {{recipe.name}}" class="img-fluid my-md-5" />
    </div>
  </div>  
  <div class="row mb-2">
    <div class="col-12">
      <h4>Ingredients</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="recipe.getIngredients().length === 0">No Ingredients found</li>
        <li class="list-group-item" *ngFor="let ingredient of recipe.getIngredients()">{{ingredient.getAmount()}} {{ingredient.getUnit()}} {{ingredient.getName()}}</li> 
      </ul>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <p>{{recipe.description}}</p>
    </div>
  </div>
</section>
<ng-template #empty_recipe>
  <h5 class="alert-danger">No recipe found</h5>
</ng-template>