<section id="recipe-detail">  
  <div class="row">
    <div class="col-12">
      <h2>{{recipe.name}}</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-7">
      <img src="{{recipe.getImagePath()}}" alt="Image of {{recipe.name}}" class="img-fluid my-md-5" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>{{recipe.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Ingredients</p>
      <ul class="list-group">
        <li class="list-item">Ingredient 1</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="actions">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Delete</a>
          </div>
        </div>
    </div>
  </div>
</section>