<section id="shopping-list">
  <div class="row">
    <div class="col-xs-12">
      <h2>Shopping List</h2>
      <h3>Ingredients</h3>

      <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Ingredient" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Amount" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" id="unit" formControlName="unit" placeholder="Unit" aria-describedby="unitHelp" required>
              <small id="unitHelp" class="form-text text-muted">(ie. lbs, g, bag)</small>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Add</button>
          </div>
        </div>      
      </form>

      <ul class="list-group">
        <app-shopping-list-item *ngFor="let ingredient of ingredients" [ingredient]="ingredient" (deleteId)="deleteId($event)"></app-shopping-list-item>
      </ul>
    </div>
  </div>
</section>
